h1{
  text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  #addNewBtn{
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid black;
    background-color: rgb(123, 195, 145);
    color: black;
    padding: 2px 4px;
  }

  #addNewBtn:hover{
    background-color: rgb(3, 75, 24);
    color: #fff;
  }
