<h1>Users table</h1>

<a id="addNewBtn" [routerLink]="['/add-new-user']">Add new user</a>

<table>
    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
      <th>
        Edit
      </th>
      <th>
        Remove
      </th>
    </tr>
    <tr *ngFor="let user of users">
      <td *ngFor="let col of columns">
        {{user[col]}}
      </td>
      <td>
        <a [routerLink]="['/edit-user', user.id]">Edit</a>
      </td>
      <td>
        <button value={{user.id}} (click)="onRemoveBtnClicked(user.id)">Remove</button>
      </td>
    </tr>
  </table>